# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# =========================
# Databases
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Environment variables
# =========================
.env

# =========================
# macOS
# =========================
.DS_Store

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Python cache
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# Alembic
# =========================
alembic/versions/__pycache__/

# =========================
# Aider
# =========================
.aider*